<div class="w-full bg-white border rounded flex">
  <div class="flex flex-col gap-y-4 flex-1 py-4 px-4">
    <div class="flex justify-between">
      <div class="flex flex-col gap-x-2">
        <input type="text"
               placeholder="Nome da tarefa"
               class="focus:border-none outline-none"
               [(ngModel)]="task.description"/>
        <span class="text-xs text-green-700 font-bold">Ultima vez 2 dias</span>
      </div>
      <div class="flex gap-x-2">
        <dt-button type="secondary"
                   data-testid="remove-task-button"
                   (clicked)="removeTask.emit(task)"
                   label="D">
        </dt-button>
        <dt-button type="primary"
                   data-testid="plan-task-button"
                   (clicked)="plan()"
                   [isReadonly]="isReadOnly"
                   label="+">
        </dt-button>
      </div>
    </div>
  </div>
</div>
