<div class="w-full bg-white border rounded flex">
  <div class="flex min-h-full  items-center px-1 gap-x-2">
    <span class="text-xl text-gray-400 cursor-move">||</span>
    <input type="checkbox"
           class="w-5 h-5"
           (change)="task.isComplete = !task.isComplete"/>
  </div>
  <div class="flex flex-col gap-y-4 flex-1 py-4 px-4">
    <div class="flex justify-between">
      <div class="flex gap-x-2">
        <input type="text"
               placeholder="Nome da tarefa"
               class="focus:border-none outline-none"
               [(ngModel)]="task.description"/>
      </div>
      <div>
        <!-- TODO: Replace for an icon-->
        <span class="text-xs text-green-700 font-bold">Planned</span>
      </div>
      <!-- TODO: Add comments section-->
    </div>
    <div class="flex flex-col gap-y-2">
      <span class="text-xs">Nivel de dificuldade</span>
      <div class="flex justify-evenly">
        <!--      <dt-button-difficulty-level [difficultyLevel]="5">-->
        <!--      </dt-button-difficulty-level>-->
        <dt-button-circle [label]="difficultyLevel.VeryLow"
                          [cssBlock]="isLevelOne?'bg-amber-500':''"
                          (action)="registerDifficultyLevel(difficultyLevel.VeryLow)">
        </dt-button-circle>
        <dt-button-circle [label]="difficultyLevel.Low"
                          [cssBlock]="isLevelTwo?'bg-amber-500':''"
                          (action)="registerDifficultyLevel(difficultyLevel.Low)">
        </dt-button-circle>
        <dt-button-circle [label]="difficultyLevel.Medium"
                          [cssBlock]="isLevelThree?'bg-amber-500':''"
                          (action)="registerDifficultyLevel(difficultyLevel.Medium)">
        </dt-button-circle>
        <dt-button-circle [label]="difficultyLevel.Hard"
                          [cssBlock]="isLevelFour?'bg-amber-500':''"
                          (action)="registerDifficultyLevel(difficultyLevel.Hard)">
        </dt-button-circle>
        <dt-button-circle [label]="difficultyLevel.VeryHard"
                          [cssBlock]="isLevelFive?'bg-amber-500':''"
                          class=""
                          (action)="registerDifficultyLevel(difficultyLevel.VeryHard)">
        </dt-button-circle>
      </div>
    </div>
  </div>
  @if (task.difficultyLevel) {
    <!-- add animation to show it -->
    <div class="flex min-h-full text-2xl items-center py-3 px-5 bg-yellow-200">
      {{ task.difficultyLevel }}
    </div>
  }
</div>
